.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}
.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}
.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}
.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
} 
.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}
.poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}
.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}
.poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
}
.poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
}
.poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
}
.poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
}
.poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
}
.poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
}
.poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
}
.poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
}
.poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    list-style: none;
}
body{
    display: flex;
    justify-content: center; /* Centra todo el contenido horizontalmente */
    /* Mantiene el contenido hacia la parte superior */
    flex-direction: column;
    background-color: #f5e5b0;
    color: #99775C;
}

/*---------INICIO SECCIÓN DEL MENU-----------*/
header{
    background-color: #000000;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-menu ul{
    display: flex;
    align-items: center;
}
.nav-menu li a{
    margin-right: 4.5rem;
    color: #fff; /* Cambia el color de los elementos de la lista para mayor visibilidad */
    text-decoration: none;
}
.nav-menu a:hover{
    color: #99775C;
}

/*---------INICIO SECCIÓN DEL JUEGO-----------*/
.container{
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    display: flex;
    height: 100%;
    flex-direction: column;
}
h1{
    font-size: 50px;
    margin-top: 120px; /* Aumentar espacio para que no se solape con el menú */
    margin-bottom: 40px;
    text-align: center; /* Centra el título */
}
.choices{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.choices button{
    font-size: 1.6rem;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 15px;
    border-color: #99775C;
}
.choices button:hover{
    background-color: #99775C;
    color: aliceblue;
    transition: all ease-in .2s;
}
#result{
    margin-top: 20px;
    font-size: 1.8rem;
    text-align: center; /* Centra el texto del resultado */
}
#score{
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: center; /* Centra el marcador */
}
.choices button:disabled{
    background-color: rgb(173, 173, 173);
    cursor: not-allowed;
}
#btnReload{
    padding: 25px 140px;
    margin-top: 40px;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 25px;
    border: none;
}
#btnReload:hover{
    background-color: #99775C;
    color: white;
}