.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}
.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}
.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}
.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
} 
.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}
.poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}
.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}
.poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
}
.poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
}
.poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
}
.poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
}
.poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
}
.poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
}
.poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
}
.poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
}
.poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #EAE7DD;
    color: #99775C;
}
h1{
    font-size: 50px;
    margin-bottom: 40px;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.choices button{
    font-size: 1.6rem;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 15px;
    border-color: #99775C;
}
.choices button:hover{
    background-color: #99775C;
    color: aliceblue;
    transition: all ease-in .2s;
}
#result{
    margin-top: 20px;
    font-size: 1.8rem;
}
#score{
    margin-top: 30px;
    font-size: 1.5rem;
}
.choices button:disabled{
    background-color: rgb(173, 173, 173);
    cursor: not-allowed;
}