
body {
    font-family: Montserrat;
    background: rgb(167,167,168);
    background: rgb(5,169,249);
    background: linear-gradient(90deg, rgba(5,169,249,1) 0%, rgba(27,160,216,1) 31%, rgba(255,255,255,1) 100%);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    border-right: 40px;
    margin-top: 105px;
    margin-bottom: 50px;
}

form {
    background: white;
    padding: 25px;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    /* margin-left: 550px; */

}
.formato{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
}

label {
    margin-bottom: 5px;
    display: block;
    color: #555;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-sizing: border-box;
}

.resultado{
    margin-top: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1a7ec1;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1a36c1;
}
